* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/** 👆 Lets reset all margin and paddings */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/** 👆 Give a nice font */

img {
  width: 100%;
}
/** 👆 Lets make all images to be responsive */

.container {
  display: grid;
  width: 100%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
  grid-template-columns: 1fr 1fr 1fr;
  padding: 1rem;
  gap: 20px;
}
/** 👆 Your initial style of container */
header {
  display: flex;
  justify-content: space-between;
  grid-column: 1/4;
  margin-bottom: 1rem;
}

header > img {
  width: 10%;
}

header > nav {
  display: flex;
}

header > nav > ul {
  display: flex;
  gap: 20px;
  list-style: none;
  align-items: center;
}

header > nav > ul > li > a {
  text-decoration: none;
  color: black;
}

.banner {
  grid-column: 1/3;
}

aside {
  padding: 1rem;
  background-color: #4a2d6f;
  color: #fff;
  transition: all 1s;
  border-radius: 15px;
  grid-column: 3/5;
  grid-row: 2/4;
}

aside > article {
  position: relative;
  overflow: hidden;
}

aside > article > p,
h2 {
  position: relative;
  z-index: 4;
  padding: 3px;
}

aside > article::before {
  content: '';
  display: block;
  background-color: #a5982d;
  position: absolute;
  z-index: 1;
  height: 100%;
  width: 100%;
  transform: translateX(-100%);
  transition: all 1s;
}

aside > article:hover::before {
  cursor: pointer;
  background-color: #1b9ba9;
  color: black;
  border-radius: 5px;
  transform: translateX(0);
}

aside > h2.title {
  color: #a5982d;
}

aside > article {
  margin-bottom: 10px;
}

.popular {
  display: flex;
  grid-column: 1/3;
}

.popular > h1 {
  font-size: 24px;
}

.popular > div {
  display: flex;
  flex-direction: column;
}

a.read-more {
  padding: 5px 15px;
  background-color: #a46cb4;
  text-decoration: none;
  color: #fff;
  margin-top: 15px;
  width: 130px;
}

.trendings {
  grid-column: 1/4;
  display: flex;
  justify-content: space-between;
}

.trendings > article {
  display: flex;
  gap: 10px;
}

.trendings > article > img {
  height: 50%;
  width: 40%;
}
